@import url(https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap);
:root {
  --bg: #27264b;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.allCards {
  opacity: 0;
}

.introFade1 {
  opacity: 0;
}

.introFade2 {
  opacity: 0;
}

.introFade3 {
  opacity: 0;
}

.fade {
  opacity: 0;
}

.fade1 {
  opacity: 0;
}

.fade2 {
  opacity: 0;
}

.fade3 {
  opacity: 0;
}

.fade4 {
  opacity: 0;
}

.fade5 {
  opacity: 0;
}

.scatterChart {
  margin-left: 50px;
  margin-top: 50px;
}
.container {
  position: relative;
  left: 80px;
  width: 50%;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 75px;
}
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0 22px 25px #97aedc;
  box-shadow: 0 22px 25px #97aedc;
  border-radius: 5px;
}
.section + .section {
  margin-left: 35px;
}
.section_header {
  background-color: #f8fafe;
  color: black;
  padding: 20px 40px;
  margin-bottom: 60px;
  margin: 10px;
  border-radius: 3px;
}
.section_header.lite {
  background-image: linear-gradient(45deg, #c3d4ff, #b26ffe);
}
.section_header.pro {
  background-image: linear-gradient(45deg, #ffb0c6, #ffcc6d);
}
.section_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.section_content p {
  width: 220px;
  font-size: 18px;
  margin-bottom: 60px;
  text-align: center;
  color: black;
}
.section_content span {
  color: black;
  font-size: 56px;
}
.section_content h5 {
  color: black;
  font-size: 16px;
  margin-bottom: 30px;
}
.section_content h5 {
  color: black;
  font-weight: 400;
  text-transform: uppercase;
}
.section_content-btn {
  width: 90%;
  display: block;
  text-decoration: none;
  padding: 15px 50px;
  text-align: center;
  border: 1px solid var(--bg);
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  margin-bottom: 40px;
}
.section_content-btn:hover {
  background-color: var(--bg);
  color: #fff;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
}
.section_footer {
  list-style: none;
  margin-bottom: 60px;
  padding-left: 30px;
}
.section_footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section_footer li span {
  color: black;
  margin-left: 15px;
}
.section_footer li + li {
  margin-top: 25px;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.projectHome {
  width: 100%;
  height: 1600px;
  background-color: #f2d9bb;
  color: #376c8a;
  font-family: "Open Sans", sans-serif;
}

.analysisSection {
  width: 100%;
  height: 900px;
  background-color: #376c8a;
  color: #f2d9bb;
  font-family: "Open Sans", sans-serif;
}
.analysisSection h1 {
  color: black;
}

.statisticsSection {
  width: 100%;
  height: 850px;
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.statisticsSection h1 {
  color: white;
}

.homeHeader {
  text-align: center;
}

.logRow {
  margin-top: 80px;
  margin-left: 50px;
  text-align: center;
}

.logRow h2 {
  font-size: 45px;
}

.popup {
  position: fixed;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 1;
  /*"delay"thevisibilitytransition*/
  -webkit-transition: opacity 0.5s, visibility 0s linear 0.5s;
  transition: opacity 1s, visibility 0s linear 0.5s;
  z-index: 1;
  -webkit-transition: opacity 1s, visibility 0s linear 0.5s;
  -moz-transition: opacity 1s, visibility 0s linear 0.5s;
  -ms-transition: opacity 1s, visibility 0s linear 0.5s;
  -o-transition: opacity 1s, visibility 0s linear 0.5s;
}

.popup h1 {
  color: black;
  margin-bottom: 50px;
}

.popup p {
  margin-left: 10px;
  text-align: center;
  width: 100%;
}

.popup:target {
  visibility: visible;
  opacity: 1;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.popup-close {
  position: absolute;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.popup .close {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color 0.3s;
  font-size: 2em;
  line-height: 0.6em;
  font-weight: bold;
}
.popup .close:hover {
  color: #00e5ee;
}

.close-popup {
  background: rgba(0, 0, 0, 0.89);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  /* "delay" the visibility transition */
  -webkit-transition: opacity 0.5s, visibility 0s linear 0.5s;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}
.popup:target + .close-popup {
  opacity: 1;
  visibility: visible;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.basicTitle h1 {
  color: #376c8a;
}

.sub-main {
  width: 30%;
  margin: 22px;
  float: left;
}
.button-one,
.button-two,
.button-three {
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  margin: 0 0 0 100px;
}
/*Button Two*/
.button-two {
  border-radius: 4px;
  background-color: #d35400;
  border: none;
  padding: 20px;
  margin: 20px;
  position: relative;
  top: -550px;
  left: 900px;
  width: 250px;
  transition: all 0.5s;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.summary {
  position: relative;
  top: 100px;
  right: 350px;
}

.title {
  position: relative;
  top: 50px;
}

.analyticHeader h1 {
  color: #376c8a;
}

.middleFade {
  opacity: 0;
}

.middleFade2 {
  opacity: 0;
}

.sectionFade1 {
  opacity: 0;
}

.sectionFade2 {
  opacity: 0;
}

.sectionFade3 {
  opacity: 0;
}
